@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /*Variáveis para cores:*/
  --cor-princial:#123859;
  --cor-fundo-pagina:#d4e7de; 
  --cor-fundo-secundario:#448AA6;
  --cor-texto-principal: #F2F2F2;
  --cor-texto-secundario:#0D0D0D;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cor-fundo-pagina);
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.card-principal{
  background: var(--cor-princial);
  padding: 20px;
   width: min(500px, 85vw); /* trava o tamanho máximo */
  margin-top: 40px;
  border-radius: 12px 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
}

h1{
  text-align: center;
  font-size: 2.5em;
  color: var(--cor-texto-secundario);
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.322);
}

/* imput e botao*/

input{
  width: 60%;
  padding: 10px;
  border: 2px solid #89a9fa94; 
  border-radius: 6px;
  margin-right: 10px;
  outline: none;
  font-size: 1.3em;
}
input:focus {
  border-color: #4a6bffbd;
}

button{
  background: var(--cor-texto-principal);
  color: var(--cor-texto-secundario);
  border: none;
  padding: 10px 14px;
  margin-left: 10px;
  border-radius: 16px;
  cursor: pointer;
   font-size: 1.3em;
   transition: 0.5s;
}
button:hover{
  background: var(--cor-fundo-secundario);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
  transform: scale(1.1);
}


/* lista*/
ul{
  list-style: none;
  padding: 0px;
  margin-top: 30px;
}
li{
  background: var(--cor-fundo-secundario);
  padding: 8px;
  margin: 10px 10px;
  border-radius: 14px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  
}
span.tarefa{
  font-size: 1.3em;
}
/* icones*/
.check-icon {
  font-size: 1.8em;
  cursor: pointer;
  margin-right: 10px;
  color: rgba(0, 255, 0, 0.616);
}

.tarefa-concluida {
  text-decoration: line-through;
  opacity: 0.1;
}


.btn-delete {
  background:var(--cor-texto-principal) ;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #ff4d4d;
  display: flex;
  align-items: center;
}

.btn-delete:hover {
  background:#f7f1f1ee ;
  color: #d93636;
  transform: scale(1.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}